{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'images/logo.png' %}">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <script type="text/javascript" src="{% static 'jquery/sample.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- Css -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- MATERIAL DESIGN ICONIC FONT -->
  <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

  <!-- STYLE CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

	{% include 'myhospital/navbar.html' %}
	{% block content %}
  
	{% endblock content %}

</body>
</html>
