<ul class="navbar-nav" >
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contactus</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'pro' %}">Myprofile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ser' %}">Services</a>
    </li>
    {% endif %}
  </ul>
  <ul class="navbar-nav ml-auto" style="margin-right:120px">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    {% else %}
    <li class="dropdown">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">Hi User 
      {{user.username}} </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Change Password</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </li>
    {% endif %}
  </ul>