{% extends 'mycourse/base.html' %}
{% block title %} Prifile {% endblock %}
{% block content %}

<div class="container mt-5 col-md-6">
	<!-- <div class="row mt-3 "> -->
	<!-- 	<div class="card col-md-4 mx-2 mx-auto">
			<h2 class="bg-info text-white text-center border rounded my-2">Profile</h2>

	</div> -->
	<div class="card">
		<h2 class="bg-info text-white text-center border rounded my-2">Details</h2>
		<table class="card-body table table-borderless mx-3 my-2">
			<tr>
				<th>Firstname</th>
				<td>{{user.Firstname}}</td>
			</tr>
			<tr>
				<th>Lastname</th>
				<td>{{user.Lastname}}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>{{user.username}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<th>DateOf Joining</th>
				<td>{{user.date_joined}}</td>
			</tr>
			<tr>
				<th>Last Joined into site</th>
				<td>{{user.last_login}}</td>
			</tr>
		</table>
		
		<!-- <button class="btn btn-block btn-info float-left col-md-2"><a href="{% url 'profile' %}">Cance</button></a> -->
	</div>
	<div class="form-grop">
		<button class="btn btn-block mx-2 btn-info float-right col-md-2 text-white"><a href="{% url 'update_user' %}">Edit</a></button>
	</div>

</div>

{% endblock content %}