{% extends 'mycourse/base.html' %}
{% block title %} course {% endblock %}
{% block content %}
<br><br><br>
<div class="container mt-5 col-md-6">
	<div class="card">
	<form method="POST">
		{% csrf_token %}
		<div class="form-content">
			<h3 class="text-center p-1px mt-2">Add Course</h3>
			<div class="form-group">
				<input type="text" class="form-control" name="title" placeholder="Enter Title" required>
			</div>
			<div class="form-group">
				<!-- <label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label> -->
				 <input type="file" name="Picture" required="required" class="form-control" placeholder="Profile Picture">
			</div>
			<div class="form-group">
				<input type="text" name="description" class="form-control" placeholder="Enter Description about course" required>
				
			</div>
			<div class="form-group">
				<input type="submit" value="Add" class="form-control btn btn-success btn-block mt-2">
				
			</div>
			
		</div>
	</form>
	</div>

	
</div>

{% endblock content %}