{% extends 'mycourse/base.html' %}
{% block title %} change password {% endblock %}
{% block content %}
 <div class="container mt-5">
	<div class="card col-md-6 mx-auto mt-5 shadow-lg">
		<h3 class="text-center p-1 bg-info mt-2 border-rounded shadow-lg">Password change</h3>
		<div class="card-body">
		<form method="POST">
		<div>
			{% csrf_token %}
			{% if form.non_field_errors %}
				{% for error in form.non_field_errors %} <br><br>
					<p>Error</p>
				{% endfor %}
			{% endif %}

			{% for p in form %}
				{{ p.label_tag }} {{p}}
			{% endfor %}
		</div>

			<input type="submit" name="save">
		</form>
		</div>
	</div>	
	
</div> 
<!--<div class="container mt-5">
		<div class="card col-md-6 mx-auto bg-info mt-5 shadow-lg">
			<div class="card-body">
				<h2>Registration Form</h2>
				<form method="POST">
					{% csrf_token %}
					<table class="table table-borderless">
						{% for p in form %}
						<tr>
							<td>{{p}}</td>
						</tr>
						{% endfor %}
						
					</table>
					<input type="submit" name="Sbscribe" class="btn btn-secondary my-2 form-control">
				</form>
			</div>
			
		</div>
		
	</div>-->
	

{% endblock content %}